# WIP — chưa commit
docs/misa-specs/

# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# coverage
coverage/
